body{
    margin: 0;
    padding: 0;
}


.sec{
    background-color: #008374d8;

}

/* .contact{
    margin-top: 15px
} */

.cc-navbar{
    border-top: 1px solid #008374d8;
    background-color: #008374d8;

}
/* SEC2 */
.image1{
    height: 65vh;
    width: 85vh;
}
.bord{
    height: 5px;
    width: 60px;
    background-color: rgb(102, 141, 80);
    border-top: 1 px solid  rgb(102, 141, 80);
    border-radius: 5px;
    margin: auto;
}
.icon{
    color:rgb(0, 131, 116);
    font-size: 24px; }
.logo{
    height: 70px;
    width:90px ;
}


@media screen and (max-width: 1024px){
    /* Image container */

    .image-cont1{
        flex-wrap: wrap;
    }

}















/* SEC3 */

.active:hover{
    color: #008374d8;
}
.entete{
    background-color: #007668;
}
.background{
    margin-top: 100px;
    width: 100%;
    height: 400px;
    background-image: url(/img/cta-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}
.boutton{
    width: 200px;
    border: 2px solid white;
    border-radius: 5px;
}
.icon{
    width: 60px;
    height: 60px;
    background-color: rgb(165, 209, 165);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon .bi{
    font-size: 50px;
    color: white;
    
}